body {
  font-family: Arial, sans-serif;
  background: url('amongus.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.weather-app {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-app h1 {
  margin: 0 0 20px;
}

.search {
  margin-bottom: 20px;
}

.search input {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search button {
  padding: 10px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.search button:hover {
  background-color: #1976D2;
}

.weather-info {
  display: none;
  margin-top: 20px;
}

.weather-info h2, .weather-info p {
  margin: 10px 0;
}

.weather-info img {
  width: 100px;
  height: 100px;
}
.weather-icon {
  font-size: 3em;
}
