body{
    background-image:url(amongus.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0%;

}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#clock{
    font: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 6.5em;
    font-weight: bold;
    text-align: center;
    color: aqua;
    backdrop-filter: blur(2px);
    width: 60%;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgb(126, 148, 179);

    
}